<div class="container-fluid">
<h1>HTML Editor</h1>
<form class="form-group">

    <div class="form-group">
        <label for="widget-text">Text</label>
        <div ng-model="model.widget.text"
             rows=20
             text-angular
             id="widget-text"
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
    </div>
</form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>