<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
		<p class="navbar-text pull-left">
            <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
		</p>
			
    
            <a class="navbar-brand" href="">
                Widgets
            </a>
        
		
	<p class="navbar-text pull-right">
        <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
     </p>
         </div>
    </div>
</nav>
	


<div class="container-fluid">

   <div class="col-xs-12 widget-list1">
    <div wbdv-sortable="" update-order="model.updateOrder(startIndex,endIndex)">
       <div ng-repeat="widget in model.widgets">
           <div class="jga-toolbar">
               <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                   <span class="glyphicon glyphicon-cog"></span>
               </a>
               <span class="glyphicon glyphicon-align-justify"></span>
           </div>

           <div ng-switch="widget.widgetType">
               <div ng-switch-when="HEADER">
                   <ng-include src="'widget/templates/widget-heading.view.client.html'"></ng-include>
               </div>
               <div ng-switch-when="IMAGE">
                   <ng-include src="'widget/templates/widget-image.view.client.html'"></ng-include>
               </div>
               <div ng-switch-when="HTML">
                   <div ng-bind-html="model.getTrustedHtml(widget.text)"></div>
               </div>
               <div ng-switch-when="YOUTUBE" class="youtube-widget">
                   <ng-include  src="'widget/templates/widget-youtube.view.client.html'"></ng-include>
               </div>
               <div ng-switch-when="TEXT">
                   <div ng-if="widget.formatted" text-angular ta-toolbar="...">{{widget.text}}</div>
                   <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                          placeholder="{{widget.placeholder}}"
                          value="{{widget.text}}"
                          class="form-control"/>
                   <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                             rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                             class="form-control">{{widget.text}}</textarea>
               </div>

           </div>

       </div>
        </div>
   </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-header pull-right">
            <p class="col-xs-12 navbar-text">
                <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>