<nav class="navbar navbar-default navbar-fixed-top">
	 <div class="row container-fluid">
	<div class="hidden-xs col-md-3">
		<p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
		</p>
			
   
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Websites
            </a>
        </div>
		
		<p class="navbar-text pull-right">
            <a ng-href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
         </p>
            
    
	</div>
	
	<div class="navbar-header">
	<p class="navbar-text visible-xs pull-left">
        <a ng-href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
		</p>
			
   
        
            <a class="navbar-brand" href="#">
                New Website
            </a>
        
		
		<p class="navbar-text pull-right">
            <a ng-click="model.createWebsite(website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
         </p>
	</div>
	</div>
	
</nav>
	


<div class="container-fluid">
	<div class="row">
		<div class="hidden-xs col-md-3">
            <ul class="list-group" ng-repeat="website in model.websites">
                <li class="list-group-item">
                    <a ng-href="#/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}</a>
                    <a class="pull-right" ng-href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
		</div>
		
	<div class="col-md-9">
            <form class="form">
                <div class="form-group">
                    <label for="website-name">Name</label>
                    <input type="text"
                           ng-model="website.name"
                           class="form-control"
                           id="website-name"
                           placeholder="Web site Name"
                           value="Name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea ng-model="website.description"
                              class="form-control"
                              rows="4"
                              placeholder="Description"></textarea>
                </div>
            </form>
        </div>		

</div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <p class="col-xs-12 navbar-text">
                <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>